OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_GENERATIVE_AI_API_KEY=your_google_generative_ai_api_key_here
AI_MODEL=OPENAI

TURSO_DATABASE_URL=libsql://your_database_url_here
TURSO_AUTH_TOKEN=your_turso_auth_token_here